{#
   Within the "raw" tags, no templating is used. Because AngularJS uses {{}} for it's templates,
   which Jinja also uses, we have a conflict. To solve this conflict, we tell Jinja to not do any
   rendering where we're putting templates for AngularJS.
#}

{% raw %}


<!-- Navigation -->
<span>CodeConnect</span>
<nav>
    <ul>
        <li ng-click="showMenu('#add-text-menu')">Events</li>
        <li ng-click="showMenu('#add-image-menu')">Internships</li>
        <li ng-click="showMenu('#add-video-menu')">Mentors</li>
        <li ng-click="showMenu('#filter-menu')">Find</li>
    </ul>
</nav>


<!-- Dropdown Menu Forms -->
<div class="dropdown" id="add-text-menu">
    <form ng-submit="addText()">
        <label>Event Url</label>
        <input type="text" ng-model="event_url">
        <label>Logo Image Url</label>
        <input type="text" ng-model="logo_url">
        <input type="submit" />
    </form>
</div>

<div class="dropdown" id="add-image-menu">
    <form ng-submit="addImage()">
        <label>Image Url</label>
        <input type="text" ng-model="image_url">
        <label>Caption</label>
        <textarea name="caption" ng-model="image_caption"></textarea>
        <input type="submit" />
    </form>
</div>

<div class="dropdown" id="add-video-menu">
    <form>
        <label>Youtube Url</label>
        <input type="text">
        <input type="submit" />
    </form>
</div>

<div class="dropdown" id="filter-menu">
    <!-- <label>Show:</label> -->
    <input type="checkbox" ng-model = "filter_text">Events</input>
    <br/>
    <input type="checkbox" ng-model = "filter_image">Internships</input>
    <br/>
    <input type="checkbox" ng-model = "filter_video">Mentors</input>
</div>


<!-- Display items -->
<div class="items">
    <div class="item item-{{item.type}}" ng-repeat="item in items | filter:isActive" ng-click="$parent.showThis = true; $parent.selection = item">
        <div ng-switch on="item.type">
        <div ng-switch-when="text">{{item.text}}</div>
        <div ng-switch-when="image">{{item.image_caption}}
            <img src="{{item.image_url}}" 
                 width=300 height=200></div>
        </div>
    </div>
</div>


<!-- Lightbox -->
<div id="lightbox-controls" ng-show="showThis">
        <a href="#" ng-click="remove(selection)">delete</a>
        <label>IP Address:</label> <input type="text" ng-model="ip_addr" ng-click="false" /> <button ng-click="share(selection)">Share</button>
</div>
<div id="lightbox" ng-show="showThis" ng-click="showThis=false" style="margin-top: 50px;">
    <div id="lightbox-content" ng-switch on="selection.type">
        <span ng-switch-when="text" class="text-content">{{selection.text}}</span>
        <div ng-switch-when="image"><p>{{selection.image_caption}}</p><!-- <img src="{{selection.image_url}}"></img> --><iframe src="https://docs.google.com/forms/d/1xXeiaotsbt5HX-p4oIwqyUc-4w6Qt-EWimiOJyUyUfk/viewform?embedded=true" width="900" height="835" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></div>
        <div ng-switch-when="video"><iframe width="560" height="315" src="http://www.youtube.com/embed/{{selection.video_id}}?rel=0" frameborder="0" allowfullscreen></iframe></div>
    </div>
</div>

{% endraw %}
